.App {
  text-align: left;
}

h1 {
  display: inline;
}

.App-header {
  background-color: white;
  min-height: 5vh;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
}

.App-footer {
  text-decoration: none;
  min-height: 25vh;
  color: black;
  font-size: calc(8px + 1vmin);
}

.File-list {
  min-height: 70vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}
